.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 15px; 
    font-size: 14px;
}
.col {
    display: table-cell;
    background-color: #292e32;
    width: 100%;
    padding: 15px;
    height: 200px;
    border-radius: 10px;
}

.dot1 {
    background-color: rgb(4, 250, 78);
}

.dot2 {
    background-color: rgb(248, 11, 11);
}

.dot {
    height: 10px;
    width:  10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 15px;
}

.money {
    margin-bottom: 30px;
}

.charts-div {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 15px; 
    /* width: 45%;
    display: inline-block; */
}

.chart {
    display: table-cell;
    padding: 15px;
}

@media screen and (max-width: 600px){
    .row {
        display: block;
    }
    .col{
        display: block;
        margin: 20px;
    }
    .charts-div {
        display: block;
    }
    .chart{
        display: block;
        padding: 0;
        margin: 20px 0;
    }
}